body{
	background-color: #fff;
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 1.6em;
	margin: 5px;
}
.container{
	width: 90%;
	margin:auto;
	overflow: hidden;
}
#container-nav{
	width: 100%;
	margin:auto;
	overflow: hidden;
}
#main-header{
	background-color: black;
	color: #fff;
}

}
.fix-me{
	position: fixed;
	top: 300px
}
#navbar{
	background color: #333;
	color:#fff;
}
#navbar ul{
	list-style: none;
	border:5px red solid;
}
#navbar li{
	line-height: 2.5em;
}
#navbar a{
	color: #000;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;

}
#navbar a:hover{
	color:red;
}
#showcase{
	background-image: url('../website folder/gradientbackground.jpg');
	background-position: center bottom;
	background-repeat: none;
	color: #f4f4f4;
}
#showcase h1{
	text-align: center;
	margin-bottom: : 5px;
}
#main-footer{
	font-size: 17px;
}
#main{
	padding-right: 30px;
}
.box-1{
	border: 100px red solid ;
}

